/*START GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
    color: #fff;
}
body{/*images/custom-background.jpg*/
    width: 100%;
    height: 100%;
    background: url("Images/comet_meteorite_1920x1080.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
section{
    padding: 5rem 0;
}
a{
    text-decoration: none;
    color:#fff;
}
p{
    font-size: 2.3rem;
    font-weight: 300;
}
img[src="Images/Intern.png"]{
    width: 100%;
    border-radius:5%;
}
img[src="Images/ML-Model.png"]{
    width: 100%;
    border-radius:5%;
}
img[src="Images/crash-data.png"]{
    width: 100%;
    border-radius:5%;
}
/*Targetting Specific tag*/
img[src="Images/download.png"] { 
    width:65%;
    border-radius:50%;
  }

/*END GLOBAL*/




/*START REUSABLE*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-bottom: 5rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: rgba (255,255,255,0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1.1rem;
}

.section-heading h5{
    font-size: 1.6rem;
    font-weight: 300;
}
.has-margin-right{
    margin-right: 5rem;
}
/*END REUSABLE*/




/*START HEADER*/
header{
    width: 100%;
    height: 100vh;
}
.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: rgba(13, 27, 221, 0.100);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: 650ms cubic-bezier(1,0,0,1);
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0.2rem;
}
.nav-link{
    font-family: 'Lobster', cursive;
    font-size: 3.7rem;
    padding: 1.5rem;
}
.nav-link:hover,
.nav-link:focus{/*,#ffe838,#fd57bf*/
    background: linear-gradient(to top,limegreen,yellow);
    /*background: linear-gradient(to top,#fff,#fff);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.top-nav.open{
    top: 0;
    border-radius: initial;
}
.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}
.menu-toggler.open{
    transform: rotate(-45deg);
}
.bar{
    background: linear-gradient(to right,limegreen,yellow);
    /*background: linear-gradient(to right,#fff,#fff);*/
    width: 100%;
    height: 4px;
    border-radius: 0.8rem;
}
.bar.half{
    width: 50%;
}
.bar.start{    
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.start{
    transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.end{
    transform: rotate(-450deg) translateX(-0.8rem);
}
.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.landing-text h1{
    font-size: 12.5rem;
    font-family:'Lobster', cursive;
    /*background: linear-gradient(to top,lightgreen,#fff);*/
    /*background: linear-gradient(to top,limegreen,cyan);*/
    background: linear-gradient(to top,rgba(13, 27, 221, 0.685),cyan);
    /*background: linear-gradient(to top,#fff,#fff);*/
    /*opacity: 1;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    padding: 1rem;
    user-select: none;
}
.landing-text h4{
    font-size: 2rem;
    font-weight: 400;
    font-family:'Lobster', cursive;
}
/*END HEADER*/




/*START ABOUT*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: 0.3;
}
.about-heading h5{
    font-size: 2rem;
    font-weight: 300;
}
/*.profile-img{
    flex: 1;
    margin-right: 5rem;
}*/
.about-details{
    flex: 1;
    font-family:'Lobster', cursive;
}
.social-media{
    margin-top: 5rem;
}
.social-media i{
    font-size: 5rem;
    transition: color 650ms;
} 

.fa-linkedin-in:hover{
    color: #0e76a8;
}
.fa-github-square:hover{
    color:rgb(58, 56, 56);
}
/*END ABOUT*/





/*START SERVICES*/
.my-skills{
    font-family:'Lobster', cursive;
    margin-top: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    grid-gap: 2.5rem;
    text-align: center;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2rem;
    margin-right: -2px;
    margin-bottom: 2rem;
    margin-left: 0;
    color: blanchedalmond;
}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid cyan;
    background-color: rgba(13, 27, 221, 0.685);
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}
.icon-container i{
    color:blanchedalmond ;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);

}


/*END SRVICES*/




/*START PORTFOLIO*/
.portfolio-item{
    font-family:'Lobster', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.portfolio-item:last-child{
    margin-bottom: 0;
}
.profile-img{
    
    flex: 1;
}
.portfolio-img{
    width: 70rem;
    height: 70rem;   
}

.portfolio-description {/*Go to font-awesomefor more fonts*/
    flex: 1;
}   
.portfolio-description h1{
    font-size: 3rem;
    font-weight: 300;
    padding-top: 1.7rem;
    color: burlywood;
    text-align: center;
    font-style: italic;
} 
.portfolio-description h5{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}
.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;/*#3883ff;*/
    color: fuchsia;
    transition: color 650ms;
}
.portfolio-description .cta:hover{/*#2f67cd;*/
    color: lightgreen;
}
/*END PORTFOLIO*/



/*START TIMELINE*/
.timeline ul{
    border-left: 4px solid #ffe838;
    border-radius: 0.8rem;
    background-color: rgba(0,0,0,0.05);
    margin:0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}
.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: 0.3;
}
.timeline a{
    color: limegreen;
}
.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    margin-top: 2rem;
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}
.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #ffe838;
    border-radius: 100%;
    left: -6.1rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}
.timeline .ul

/*END TIMELINE*/




/*START CONTACT*/
.contact{
    background-color: inherit;
}
form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 2rem;
}
input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-top: 5px;
    border: none;
    outline-color: #2f67cd;
}
input[type="submit"]{
    width: initial;
    background-color: rgba(148, 253, 87, 0.733);
    color: black;
    padding-top:1rem;
    padding-bottom: 1rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 650ms;
}
input[type="submit"]:hover{
    color:#221e3f;
    background-color: grey;
}
/*END CONTACT*/



/*START FOOTER*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #8b8b9e62;
    padding: 2rem 0;
    position: relative;
}
.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right:5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}
.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
    cursor: pointer;
}
/*END FOOTER*/


/*START ANIMATIONS*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(148, 253, 87, 0.733);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253,87,191,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253,87,191,0);
    }
}
/*END ANIMATIONS*/



/*START MEDIA QUERIES*/
@media screen and (max-width:768px) {
    body{        
        background-image: url("Images/comet_meteorite_1920x1080.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    .landing-text h1{
        font-size: 15rem;
    }
    .landing-text h4{
        font-size: 1.7rem;
    }
    .nav-list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
    }
    .nav-link{
        font-size: 4.5rem;
    }
    .about-heading h1{
        font-size: 3rem;
    }
    .about-details .nav-list{
        flex-direction: initial;
    }
    .about-details li{
        margin: 0 2rem;
    }
    .icon-container{
        width: 7rem;
        height: 7rem;
    }
    .icon-container i{
        font-size: 4rem;
    }
    .timeline ul{
        margin: 0 0 0 auto;
    }
    .timeline .date::before{
        left: -20rem;
    }
    .timeline .date::after{
        left: -5.9rem;
    }

} 


@media screen and (max-width:600px){
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }
    .landing-text h1{
        font-size: 8rem;
    }
    .landing-text h4{
        font-size: 1.4rem;
    }
    .nav-link{
        font-size: 3.5rem;
    }
    .about .container{
        flex-direction: column;
    }
    .profile-img{
        margin: 0 0 7rem 0;
    }
    .portfolio-item{
        flex-direction: column;
    }
    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description{
        margin: 0;
        order: 2;
    }
    .timeline p{
        font-size: 1.6rem;
    }
    .timeline .date::before{
        font-size: 1.4rem;
    }
    form{
        width: 100%;
    }
    .up{
        right: 2rem;
    }
}


/*END MEDIA QUERIES*/


/*EXTRA
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
*/
